
    <div class="bottom-bar-container">
        <div  fxHide fxShow.gt-sm class="score-footer-wrapper">
            <div class="score-footer">
                <div class="score-container isi sticky" id="isi">
                    <div class="">
                        <div class="score-page score-column1">
                            <div class="score-main">
                                <div class="score-inner">
                                    <div class="text-component two-col-isi">
                                        <div class="isi-wrap">
                                            <div
                                                fxLayoutAlign="space-between start"
                                                fxLayoutAlign.lt-lg="start start"
                                                fxLayout="row"
                                                fxLayout.lt-md="column"
                                                fxFlex="100"
                                            >
                                                <div fxFlex="50" fxLayout="column">
                                                    <div class="isi-title">Indications</div>
                                                    <div class="isi-content">
                                                        <p>
                                                            <strong
                                                                ><span style="text-decoration: underline">Atopic Dermatitis</span>:</strong
                                                            >
                                                            DUPIXENT is indicated for the treatment of adult and pediatric patients aged 6
                                                            months and older with moderate-to-severe atopic dermatitis whose disease is not
                                                            adequately controlled with topical prescription therapies or when those
                                                            therapies are not advisable. DUPIXENT can be used with or without topical
                                                            corticosteroids.
                                                        </p>

                                                        <p>
                                                            <strong><span style="text-decoration: underline">Asthma</span>:</strong>
                                                            DUPIXENT is indicated as an add-on maintenance treatment of adult and pediatric
                                                            patients aged 6 years and older with moderate-to-severe asthma characterized by
                                                            an eosinophilic phenotype or with oral corticosteroid dependent asthma.
                                                            <span style="text-decoration: underline">Limitation of Use</span>: DUPIXENT is
                                                            not indicated for the relief of acute bronchospasm or status asthmaticus.
                                                        </p>

                                                        <p>
                                                            <strong
                                                                ><span style="text-decoration: underline"
                                                                    >Chronic rhinosinusitis with nasal polyposis (CRSwNP)</span
                                                                >:</strong
                                                            >
                                                            DUPIXENT is indicated as an add-on maintenance treatment in adult patients with
                                                            inadequately controlled CRSwNP.
                                                        </p>

                                                        <p>
                                                            <strong
                                                                ><span style="text-decoration: underline">Eosinophilic Esophagitis</span
                                                                >:</strong
                                                            >
                                                            DUPIXENT is indicated for the treatment of adult and pediatric patients aged 12
                                                            years and older, weighing at least 40 kg, with eosinophilic esophagitis (EoE).
                                                        </p>
                                                    </div>
                                                </div>
                                                <div
                                                    fxLayoutAlign="space-between start"
                                                    fxLayoutAlign.lt-lg="start start"
                                                    fxLayout="row"
                                                    fxLayout.lt-md="column"
                                                    fxFlex="50"
                                                >
                                                    <div fxLayout="column">
                                                        <div class="isi-title">Important Safety Information</div>
                                                        <div class="isi-content">
                                                            <p>
                                                                <span class="isi-green"
                                                                    ><strong class="text-green">CONTRAINDICATION:</strong></span
                                                                >
                                                                DUPIXENT is contraindicated in patients with known hypersensitivity to
                                                                dupilumab or any of its excipients.
                                                            </p>

                                                            <p style="margin-bottom: 0px">
                                                                <span class="isi-green"
                                                                    ><strong class="text-green">WARNINGS AND PRECAUTIONS</strong></span
                                                                >
                                                            </p>

                                                            <p>
                                                                <strong>Hypersensitivity:</strong> Hypersensitivity reactions, including
                                                                anaphylaxis, serum sickness or serum sickness-like reactions, angioedema,
                                                                generalized urticaria, rash, erythema nodosum, and erythema multiforme have
                                                                been reported. If a clinically significant hypersensitivity reaction occurs,
                                                                institute appropriate therapy and discontinue DUPIXENT.
                                                            </p>

                                                            <p>
                                                                <strong>Conjunctivitis and Keratitis:</strong> Conjunctivitis and keratitis
                                                                occurred more frequently in atopic dermatitis subjects who received DUPIXENT
                                                                versus placebo, with conjunctivitis being the most frequently reported eye
                                                                disorder. Conjunctivitis also occurred more frequently in chronic
                                                                rhinosinusitis with nasal polyposis subjects who received DUPIXENT compared
                                                                to those who received placebo. Conjunctivitis and keratitis have been
                                                                reported with DUPIXENT in postmarketing settings, predominantly in atopic
                                                                dermatitis patients. Some patients reported visual disturbances (e.g.,
                                                                blurred vision) associated with conjunctivitis or keratitis. Advise patients
                                                                to report new onset or worsening eye symptoms to their healthcare provider.
                                                                Consider ophthalmological examination for patients who develop
                                                                conjunctivitis that does not resolve following standard treatment or signs
                                                                and symptoms suggestive of keratitis, as appropriate.
                                                            </p>

                                                            <p>
                                                                <strong>Eosinophilic Conditions:</strong> Patients being treated for asthma
                                                                may present with serious systemic eosinophilia sometimes presenting with
                                                                clinical features of eosinophilic pneumonia or vasculitis consistent with
                                                                eosinophilic granulomatosis with polyangiitis (EGPA), conditions which are
                                                                often treated with systemic corticosteroid therapy. These events may be
                                                                associated with the reduction of oral corticosteroid therapy. Healthcare
                                                                providers should be alert to vasculitic rash, worsening pulmonary symptoms,
                                                                cardiac complications, and/or neuropathy presenting in their patients with
                                                                eosinophilia. Cases of eosinophilic pneumonia were reported in adult
                                                                subjects who participated in the asthma development program and cases of
                                                                vasculitis consistent with EGPA have been reported with DUPIXENT in adult
                                                                subjects who participated in the asthma development program as well as in
                                                                adult subjects with co-morbid asthma in the CRSwNP development program. A
                                                                causal association between DUPIXENT and these conditions has not been
                                                                established.
                                                            </p>

                                                            <p>
                                                                <strong>Acute Asthma Symptoms or Deteriorating Disease:</strong> Do not use
                                                                DUPIXENT to treat acute asthma symptoms, acute exacerbations, acute
                                                                bronchospasm or status asthmaticus. Patients should seek medical advice if
                                                                their asthma remains uncontrolled or worsens after initiation of DUPIXENT.
                                                            </p>

                                                            <p>
                                                                <strong
                                                                    >Risk Associated with Abrupt Reduction of Corticosteroid Dosage:</strong
                                                                >
                                                                Do not discontinue systemic, topical, or inhaled corticosteroids abruptly
                                                                upon initiation of DUPIXENT. Reductions in corticosteroid dose, if
                                                                appropriate, should be gradual and performed under the direct supervision of
                                                                a healthcare provider. Reduction in corticosteroid dose may be associated
                                                                with systemic withdrawal symptoms and/or unmask conditions previously
                                                                suppressed by systemic corticosteroid therapy.
                                                            </p>

                                                            <p>
                                                                <strong>Patients with Co-morbid Asthma:</strong> Advise patients with atopic
                                                                dermatitis or CRSwNP who have co-morbid asthma not to adjust or stop their
                                                                asthma treatments without consultation with their physicians.
                                                            </p>

                                                            <p>
                                                                <strong>Arthralgia:</strong> Arthralgia has been reported with the use of
                                                                DUPIXENT with some patients reporting gait disturbances or decreased
                                                                mobility associated with joint symptoms; some cases resulted in
                                                                hospitalization. Advise patients to report new onset or worsening joint
                                                                symptoms. If symptoms persist or worsen, consider rheumatological evaluation
                                                                and/or discontinuation of DUPIXENT.
                                                            </p>

                                                            <p>
                                                                <strong>Parasitic (Helminth) Infections:</strong> It is unknown if DUPIXENT
                                                                will influence the immune response against helminth infections. Treat
                                                                patients with pre-existing helminth infections before initiating therapy
                                                                with DUPIXENT. If patients become infected while receiving treatment with
                                                                DUPIXENT and do not respond to anti-helminth treatment, discontinue
                                                                treatment with DUPIXENT until the infection resolves. Helminth infections (5
                                                                cases of enterobiasis and 1 case of ascariasis) were reported in pediatric
                                                                patients 6 to 11 years old in the pediatric asthma development program.
                                                            </p>

                                                            <p>
                                                                <strong>Vaccinations:</strong> Consider completing all age-appropriate
                                                                vaccinations as recommended by current immunization guidelines prior to
                                                                initiating DUPIXENT. Avoid use of live vaccines in patients treated with
                                                                DUPIXENT.
                                                            </p>

                                                            <p>
                                                                <strong class="text-green"
                                                                    ><span class="isi-green">ADVERSE REACTIONS</span>:</strong
                                                                >
                                                            </p>

                                                            <ul>
                                                                <li>
                                                                    <strong>Atopic dermatitis:</strong> The most common adverse reactions
                                                                    (incidence ≥1%&nbsp;at Week 16)&nbsp;in&nbsp;adult&nbsp;patients are
                                                                    injection site reactions, conjunctivitis, blepharitis, oral herpes,
                                                                    keratitis, eye pruritus, other herpes simplex virus infection, dry eye,
                                                                    and eosinophilia. The safety profile in pediatric patients through Week
                                                                    16 was similar to that of adults with atopic dermatitis. In an
                                                                    open-label extension study, the long-term safety profile of DUPIXENT ±
                                                                    TCS in pediatric patients observed through Week 52 was consistent with
                                                                    that seen in adults with atopic dermatitis, with hand-foot-and-mouth
                                                                    disease and skin papilloma (incidence
                                                                    <u data-renderer-mark="true">&gt;</u>2%) reported in patients 6 months
                                                                    to 5 years of age. These cases did not lead to study drug
                                                                    discontinuation.&nbsp;
                                                                </li>
                                                                <li>
                                                                    <strong>Asthma:</strong> The most common adverse reactions (incidence
                                                                    ≥1%) are injection site reactions, oropharyngeal pain, and eosinophilia.
                                                                </li>
                                                                <li>
                                                                    <strong>Chronic rhinosinusitis with nasal polyposis:</strong> The most
                                                                    common adverse reactions (incidence ≥1%) are injection site reactions,
                                                                    eosinophilia, insomnia, toothache, gastritis, arthralgia, and
                                                                    conjunctivitis.
                                                                </li>
                                                                <li>
                                                                    <strong>Eosinophilic esophagitis:</strong> The most common adverse
                                                                    reactions (incidence ≥2%) are injection site reactions, upper
                                                                    respiratory tract infections, arthralgia, and herpes viral infections.
                                                                </li>
                                                            </ul>

                                                            <p>
                                                                <span class="isi-green"
                                                                    ><strong class="text-green">USE IN SPECIFIC POPULATIONS</strong></span
                                                                >
                                                            </p>

                                                            <ul>
                                                                <li>
                                                                    <strong>Pregnancy:</strong> A pregnancy exposure registry monitors
                                                                    pregnancy outcomes in women exposed to DUPIXENT during pregnancy. To
                                                                    enroll or obtain information call
                                                                    <a class="no-decor" href="tel:1-877-311-8972">1-877-311-8972</a> or go
                                                                    to
                                                                    <a
                                                                        data-remote="false"
                                                                        data-target="#hcpMod"
                                                                        data-toggle="modal"
                                                                        href="https://www.mothertobaby.org/ongoing-study/dupixent/"
                                                                        >https://mothertobaby.org/ongoing-study/dupixent/</a
                                                                    >. Available data from case reports and case series with DUPIXENT use in
                                                                    pregnant women have not identified a drug-associated risk of major birth
                                                                    defects, miscarriage or adverse maternal or fetal outcomes. Human IgG
                                                                    antibodies are known to cross the placental barrier; therefore, DUPIXENT
                                                                    may be transmitted from the mother to the developing fetus.
                                                                </li>
                                                                <li>
                                                                    <strong>Lactation:</strong> There are no data on the presence of
                                                                    DUPIXENT in human milk, the effects on the breastfed infant, or the
                                                                    effects on milk production. Maternal IgG is known to be present in human
                                                                    milk. The developmental and health benefits of breastfeeding should be
                                                                    considered along with the mother’s clinical need for DUPIXENT and any
                                                                    potential adverse effects on the breastfed child from DUPIXENT or from
                                                                    the underlying maternal condition.
                                                                </li>
                                                            </ul>

                                                            <p>
                                                                <strong
                                                                    >Please see <span class="congress-hide">accompanying</span> full
                                                                    <a
                                                                        href="https://www.regeneron.com/sites/default/files/Dupixent_FPI.pdf"
                                                                        target="_blank"
                                                                        ><span class="isi-green"
                                                                            ><u>Prescribing Information</u></span
                                                                        ></a
                                                                    ><!--span class="hidden"-->.<!--/span--></strong
                                                                >
                                                            </p>

                                                            <p>&nbsp;</p>
                                                        </div>
                                                    </div>
                                                    <div class="icon-container" fxLayout="row">
                                                        <mat-icon>add_circle</mat-icon><mat-icon>remove_circle</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="score-container legal">
                                <div class="container">
                                    <div class="score-page score-column1">
                                        <div class="score-main">
                                            <div class="score-inner">
                                                <div class="text-component">
                                                    <div class="row">
                                                        <div class="col-md-5 corp-logos">
                                                            <div class="row">
                                                                <div class="col-xs-4">
                                                                    <a href="https://www.sanofi.us/en/" target="_blank">
                                                                        <img
                                                                            alt="Sanofi Genzyme logo"
                                                                            src="/dam/jcr:e08e545d-6682-499b-8a3f-d6e0fe9d4e24/Logo-Sanofi-Dark.svg"
                                                                        />
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-5">
                                                                    <a href="http://www.regeneron.com/" target="_blank">
                                                                        <img
                                                                            alt="Regeneron Pharmaceuticals, Inc. logo"
                                                                            src="/dam/jcr:8a529d20-cf59-4246-a88a-0aa9ad89c2ed/regeneron_logo.png"
                                                                        />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 corp-info">
                                                            <div class="row">
                                                                <div
                                                                    class="col-sm-12 col-md-6 col-lg-5 col-b63928fd-fb35-4327-a477-08a886239910 flex-col-b63928fd-fb35-4327-a477-08a886239910"
                                                                >
                                                                    <p><a href="/site-map">Site Map</a></p>

                                                                    <p>
                                                                        <a href="https://www.sanofi.us/en/legal-notice" target="_blank"
                                                                            >Legal Disclaimer Information</a
                                                                        >
                                                                    </p>
                                                                </div>

                                                                <div
                                                                    class="col-sm-12 col-md-6 col-lg-7 col-d7114d8e-4826-4978-a746-453c05ffe11b flex-col-d7114d8e-4826-4978-a746-453c05ffe11b"
                                                                >
                                                                    <p>
                                                                        <strong>Questions or comments?</strong><br />
                                                                        <a href="https://www.sanofi.us/en/contact-us" target="_blank"
                                                                            >Contact Sanofi US</a
                                                                        >&nbsp;or call&nbsp;<a href="tel:1-844-643-7346">1‑844‑643‑7346</a
                                                                        ><br />
                                                                        to contact Regeneron Pharmaceuticals, Inc.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="trademarks">
                                                        <p>
                                                            ©&nbsp;2022 Sanofi and Regeneron Pharmaceuticals, Inc. All Rights Reserved.<br />
                                                            DUPIXENT® and&nbsp;<em><strong>DUPIXENT MyWay</strong></em
                                                            >® are registered trademarks of Sanofi Biotechnology.
                                                        </p>

                                                        <span id="job-code-update">
                                                            DUP.22.02.0227&nbsp;&nbsp;&nbsp;Last Update: June 2022
                                                        </span>
                                                        <p style="margin-top: 15px">
                                                            <span
                                                                >Sanofi US is hosting this website on behalf of Sanofi and Regeneron
                                                                Pharmaceuticals, Inc.</span
                                                            >
                                                        </p>

                                                        <p>
                                                            Sanofi and Regeneron are industry partners, who are committed to handling
                                                            personal data in ways that respect your privacy. Both companies may
                                                            independently process your personal data to manage patient support programs and
                                                            product marketing campaigns. Please refer to Regeneron's
                                                            <a href="https://www.regeneron.com/privacy-notice" target="_blank"
                                                                >Privacy Notice</a
                                                            >&nbsp;and Sanofi's&nbsp;<a
                                                                href="https://www.sanofi.us/en/legal-notice/#Privacypolicy"
                                                                target="_blank"
                                                                >Privacy Policy</a
                                                            >&nbsp;for more information regarding processing of your personal data.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
