<div class="provider-attestation-container" fxLayoutAlign="space-between start" fxLayoutAlign.lt-lg="center start" fxLayout="row" fxLayout.lt-md="column">

    <div class="provider-step">
        <app-step [showBackLink]="true"
                  [backText]="stepContent?.back"
                  [title]="stepContent?.header"
                  [description]="stepContent?.description"
                  [requiredText] = "stepContent?.requiredText"
                  [showRequired]= "true">
        </app-step>
    </div>

    <div class="services-main">
        <div class="services-bg-block" fxHide fxShow.gt-sm></div>
        <div class="p-2 services-rectangle">
            <form [formGroup]="provAttestGroup">
                <div class="row">
                    <div class="col-lg-12">
                        <app-form-checkbox [formItem]="agreeConsentConfig" [formGroup]="provAttestGroup">
                        </app-form-checkbox>
                    </div>
                </div>

                <div class="row px-3">
                    <div class="col-lg-6">
                      <app-form-input [formItem]="fullNameConfig" [formGroup]="provAttestGroup" (valueChanges)="onFullNameValueChange($event);">
                      </app-form-input>
                    </div>
                  </div>

                <div class="row">
                    <div class="col-lg-12">
                      <app-form-signature [formItem]="signatureConfig" [formGroup]="provAttestGroup" [name]="fullName">
                      </app-form-signature>
                    </div>
                </div>

                <div class="row">
                    <div class="as_buttons">
                        <button mat-flat-button color="accent" type="button" (click)="cancelBtnClick();" >
                            {{cancelButtonText}}
                        </button>
                        <button
                            mat-flat-button color="primary"
                            type="button"
                            [disabled]="provAttestGroup.invalid"
                            (click)="submit();">
                            {{continueButtonText}}
                            <mat-spinner class="button-spinner" diameter="20" *ngIf="submitting"></mat-spinner>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
