<div class="form-group" [formGroup]="formGroup">
    <div>
        <label class="floating" [ngClass]="{ required: formItem.required }" [for]="formItem.controlName">
            <span class="floating-text">
                {{ formItem.text }}
                <span *ngIf="formItem.optionalText" class="optional-text text-muted">
                    {{ formItem.optionalText }}
                </span>
            </span>
            <span class="tooltip-container" *ngIf="formItem.tooltip"
                ><img
                    [matTooltip]="formItem.tooltip"
                    matTooltipPosition="above"
                    (click)="tooltip.toggle()"
                    (hover)="tooltip.toggle()"
                    #tooltip="matTooltip"
                    src="../../../../assets/images/icon-tooltip-info.svg"
                />
            </span>
        </label>
    </div>
    <div>
        <input
            class="form-control text-muted"
            autocomplete="new-password"
            [ngClass]="{ 'is-invalid': isControlInvalid }"
            [formControlName]="formItem.controlName"
            [id]="formItem.controlName"
            [attr.maxLength]="maxLength"
            [required]="formItem.required"
            [textMask]="{ mask: inputMask }"
            [placeholder]="formItem.placeholder"
        />
        <div class="invalid-feedback">
            {{ formItem.errorMessage }}
        </div>
    </div>
</div>
