<app-nav-bar></app-nav-bar>
<div class="container privacy-policy">
    <div class="view-layout shadow rounded border">
        <div class="col-md-12">
            <app-header-title logoLink="../../../../assets/images/logos/logo-small.png"
                title="AssistRX, INC Privacy Policy"></app-header-title>
            <div class="panel">
                <p>
                    At AssistRx, we are dedicated to safeguarding and preserving your privacy when visiting our site
                    or
                    communicating
                    electronically with us. This Privacy Policy, together with our terms of use, provides an
                    explanation
                    as to what happens to
                    any personal data that you provide to us, or that we collect from you. We do update this Policy
                    from
                    time to time so please
                    do review this Policy regularly.
                </p>
                <p>In operating our website we may collect and process the following data about you:</p>
                <p>
                    Details of your visits to our website and the resources that you access, including, but not
                    limited
                    to, traffic data,
                    location data, weblogs and other communication data. Information that you provide by filling in
                    forms on our website, such
                    as when you registered. Information provided to us when you communicate with us for any reason.
                </p>
            </div>

            <div class="panel">
                <b>Use of Cookies</b>

                <p>
                    On occasion, we may gather information about your computer for our services and to provide
                    statistical information regarding
                    the use of our website to our advertisers or others.
                </p>
                <p>
                    Such information may identify you personally – it is statistical data or identifiable data about
                    our
                    visitors and their use
                    of our site. This statistical data does not identify any personal details whatsoever. The
                    identifiable data may identify you
                    personally from the information you have provided us.
                </p>
                <p>
                    Similarly to the above, we may gather information about your general internet use by using a
                    cookie
                    file. Where used, these
                    cookies are downloaded to your computer automatically. This cookie file is stored on the hard
                    drive
                    of your computer as cookies
                    contain information that is transferred to your computer’s hard drive. They help us to improve
                    our
                    website and the service
                    that we provide to you.
                </p>
                <p>
                    All computers have the ability to decline cookies. This can be done by activating the setting on
                    your browser which enables you
                    to decline the cookies. Please note that should you choose to decline cookies, you may be unable
                    to
                    access particular parts of
                    our website.
                </p>
                <p>
                    Our advertisers may also use cookies, over which we have no control. Such cookies (if used)
                    would be
                    downloaded once you click
                    on advertisements on our website.
                </p>
            </div>

            <div class="panel">
                <b>Use of Your Information</b>
                <p>
                    The information that we collect and store relating to you is primarily used to enable us to
                    provide
                    our services to you or
                    your patients. In addition, we may use the information for the following purposes:
                </p>
                <ul>
                    <li>
                        To provide you with information requested from us, relating to our programs or services.
                        To provide information on other programs which we feel may be of interest to you, where you
                        have
                        consented to receive
                        such information.
                    </li>
                    <li>
                        To meet our contractual commitments to you.
                    </li>
                    <li>
                        To notify you about any changes to our website, such as improvements or service/program
                        changes,
                        that may affect our
                        service.
                    </li>
                    <li>
                        To communicate with manufacturers, pharmacies and other third parties to provide services to
                        you
                        or your patients.
                    </li>
                    <li>
                        To provide third parties with statistical information about the users of our website.
                    </li>
                </ul>
                <p>
                    We will only contact you or allow third parties to contact you when you have provided consent
                    and
                    only by those means you
                    provided consent for.
                </p>
                <p>
                    If you do not want us to use your data for our use or third parties’ use, you will have the
                    opportunity to withhold your consent to this when you provide your details to us on the form on
                    which we collect your data.
                    Data that is provided to us is stored on our secure servers. Details relating to any
                    transactions
                    entered into on our site
                    will be encrypted to ensure its safety.
                </p>
                <p>
                    The transmission of information via the internet is not completely secure and
                    therefore we cannot guarantee the security of data sent to us electronically and transmission of
                    such data is therefore
                    entirely at your own risk. Where we have given you (or where you have chosen) a password so that
                    you
                    can access certain
                    parts of our site, you are responsible for keeping this password confidential.
                </p>
            </div>

            <div class="panel">
                <b>Disclosing Your Information</b>
                <p>
                    Where applicable, we may disclose your personal information to any member of our group. This
                    includes, where applicable, our
                    subsidiaries, our holding company and its other subsidiaries (if any), as well as third parties
                    involved in the
                    administration and operation of AssistRx’s services and your participation therein. We may also
                    disclose your personal
                    information to third parties:
                </p>
                <ul>
                    <li>
                        Where we sell any or all of our business and/or our assets to a third party.
                    </li>
                    <li>
                        Where we are legally required to disclose your information.
                    </li>
                    <li>
                        Where we believe it will assist you or your patients with additional products or services.
                    </li>
                    <li>
                        When we are contractually obligated to disclose it.
                    </li>
                    <li>
                        When it relates to reimbursement.
                    </li>
                </ul>
            </div>

            <div class="panel">
                <b>Third Party Links</b>
                <p>
                    You may find links to third party websites on our website. These websites should have their own
                    privacy policies which you
                    should check. We do not accept any responsibility or liability for their policies whatsoever as
                    we
                    have no control over
                    them.
                </p>
            </div>
            <div class="panel">
                <b>Access To Information</b>
                <p>
                    The Data Protection Act 1998 gives you the right to access the information that we hold about
                    you.
                    Should you wish to
                    receive details that we hold about you please contact us using the contact details below.
                </p>
            </div>

            <div class="panel">
                <b>General Data Protection Regulation (GDPR)</b>
                <p>
                    We do not knowingly collect personal information about individuals residing in the European
                    Union.
                    If you believe we have
                    collected or processed personal information about any individuals residing in the European
                    Union,
                    please contact us
                    immediately at <a href="mailto:compliance@assistrx.com">compliance@assistrx.com</a>.
                </p>
            </div>

            <div class="panel">
                <b>Changes To Our Privacy Policy</b>
                <p>
                    If we decide to change our privacy policy, we will post those changes on this page. This policy
                    was
                    last modified
                    05/26/2016.
                </p>
            </div>
            <div class="panel">
                <b>Contacting Us</b>
                <p>
                    If there are any questions regarding this policy you may contact us using the information below:
                </p>
                <p>
                    AssistRx, Inc. <br />
                    Privacy Officer<br />
                    4700 Millenia Blvd, Suite 500<br />
                    Orlando, Florida 32839<br />
                    Email: <a href="mailto:compliance@assistrx.com">compliance@assistrx.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
