@import '../_variables.scss';
@import '~open-sans-fontface/open-sans.scss';

@font-face {
  font-family: $font-family-open-sans-bold;
  @include fontdef($OpenSansPath, $OpenSansVersion, 'Bold');
  font-style: normal;
}

@font-face {
    font-family: $font-family-open-sans-semibold;
    @include fontdef($OpenSansPath, $OpenSansVersion, 'Semibold');
    font-style: normal;
}

@font-face {
    font-family: $font-family-open-sans-regular;
    @include fontdef($OpenSansPath, $OpenSansVersion, 'Regular');
    font-style: normal;
}
