<div class="patient-demographic-container" fxLayoutAlign="space-between start" fxLayoutAlign.lt-lg="center start"
    fxLayout="row" fxLayout.lt-md="column">
    <div class="patient-demographic-step">
        <app-step [showBackLink]="showPrevious" [backText]="stepContent?.back" [title]="stepContent?.header"
            [description]="stepContent?.description" [requiredText]="stepContent?.requiredText" [showRequired]="true">
        </app-step>
    </div>

    <div class="services-main">
        <div class="services-bg-block" fxHide fxShow.gt-sm></div>
        <div class="p-2 services-rectangle">
            <app-stepper activeStep="facility-information"></app-stepper>
            <form [formGroup]="facilityInformationGroup" ngSubmit="submit();">

                <div fxLayout="column" fxLayoutGap="0px">
                    <div fxLayout.gt-sm="row" class="remove-radio-padding ">
                        <app-form-radio [formItem]="facilityInformationFacilityTypeConfig"
                            [formGroup]="facilityInformationGroup" (valueChanges)="onFacilityTypeSelected($event)"
                            [radioNobg]="true" [inline]="false">
                        </app-form-radio>
                    </div>
    
    
                    <div fxLayout.gt-sm="row">
                        <div fxFill>
                            <app-form-input [formItem]="facilityInformationFacilityNameConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                    </div>
    
    
                    <div fxLayout.gt-sm="row">
                        <div fxFill>
                            <app-form-input [formItem]="facilityInformationAddressLine1Config"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                    </div>
    
    
                    <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayout.sm="row" fxLayoutGap.gt-xs="16px"  >
                        <div fxLayout="column" fxFlex>
                            <app-form-input [formItem]="facilityInformationAddressLine2Config"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                        <div fxLayout="column" fxFlex>
                            <app-form-input [formItem]="facilityInformationCityConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                    </div>
    
    
                    <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayoutGap.gt-xs="16px">
                        <div fxLayout="column" fxFlex>
                            <app-form-select [formItem]="facilityInformationStateConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-select>
                        </div>
                        <div fxLayout="column" fxFlex>
                            <app-form-input [formItem]="facilityInformationZipCodeConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                    </div>
    
    
                    <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayoutGap.gt-xs="16px">
                        <div fxLayout="column" fxFlex>
                            <app-form-input [formItem]="facilityInformationPrimaryContactNameConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                        <div fxLayout="column" fxFlex>
                            <app-form-input [formItem]="facilityInformationRoleConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                    </div>
    
    
                    <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayoutGap.gt-xs="16px">
                        <div fxLayout="column" fxFlex>
                            <app-form-input [formItem]="facilityInformationPrimaryPhoneNumberConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                        <div fxLayout="column" fxFlex>
                            <app-form-input [formItem]="facilityInformationPrimaryFaxNumberConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                    </div>
    
                    <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayout.sm="row" fxLayoutGap.gt-xs="16px">
                        <div fxLayout="column" fxFlex>
                            <app-form-input [formItem]="facilityInformationPrimaryEmailConfig"
                                [formGroup]="facilityInformationGroup">
                            </app-form-input>
                        </div>
                        <div fxLayout="column" fxFlex>
                        </div>
                    </div>
                </div>
               

                <div class="as_buttons" fxLayout="row" fxLayout.lt-sm="column-reverse" fxLayoutAlign="end space-between"
                    fxLayoutAlign.lt-sm="space-evenly stretch" fxFlexFill>
                    <button mat-flat-button color="accent" type="button" (click)="cancelBtnClick();">
                        {{cancelButtonText}}
                    </button>
                    <button mat-flat-button color="primary" type="button" [disabled]="facilityInformationGroup.invalid"
                        (click)="submit();">
                        {{continueButtonText}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>