@import '../../../../assets/stylesheets/variables';
@import '../workflow.component.scss';
@import '../../../ui-components/form-controls/form-radio/form-radio.component.scss';

.avse-container {
    display: flex;

    @media (max-width: $screen-desktop) {
        flex-direction: column;
    }

    .avse-step {
        margin-right: 14.875rem;
        max-width: 35.625rem;

        @media (max-width: $screen-desktop) {
            width: auto;
            margin-right: 0;
            flex: 1;
        }

        @media (max-width: $screen-desktop) {
            width: 100%;
            margin-right: 0;
            flex: 1;
            max-width: none;
        }
    }

    .row {
        &.sm-margin-top {
            margin-top: 0.6em;
        }

        &.md-margin-top {
            margin-top: 1em;
        }

        font-weight: $fw-600;
        font-size: $font-normal;
    }

    .avse-form {
        flex: 1;
    }

    .invalid-feedback {
        position: absolute;
        font-size: $font-sm;
        margin-top: 0;
        display: block;
    }

    .mat-flat-button {
        @media (max-width: $screen-mobile) {
            margin: 0px 0px 10px 0px !important;
        }
    }

    .as_buttons {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 20px;
        right: 0;
        flex-direction: row;
        align-items: center;
        padding: 16px 48px;
    }

    .pagination {
        padding-left: 15px !important;
    }

    .pagination_box {
        display: inline-flex;
        border-color: $gray;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        font-size: $font-sm;
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
        padding: 0 0px;
    }

    mat-button-toggle-group {
        box-shadow: none;
    }

    mat-button-toggle {
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .mat-button-toggle-checked {
        border: 1px $blue solid !important;
        border-radius: 6px !important;
        border-width: 2px !important;
        background-color: $white !important;
        padding: auto;
    }

    .custom-radio {
        position: relative;
        width: 380px;
        height: 20px;
        left: 0px;
        top: 0px;
    }

    .medication-info::ng-deep {
        width: 100%;

        .avse-font-label::ng-deep {
            width: 100%;
        }

        .form-group {
            .custom-control.custom-radio {
                border: 1px solid $app-background-input;
                box-sizing: border-box;
                border-radius: 5px;
                padding-left: 30px;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 5px 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background: $app-background-card;
                position: static;
                display: flex;
                min-height: 35px;
            }

            .custom-control-label.text-muted {
                font-family: Open Sans !important;
                font-style: normal !important;
                font-weight: $fw-600 !important;
                color: $slate !important;
                font-size: $font-normal !important;
            }

            .required {
                color: $slate !important;
                font-family: Open Sans;
                font-style: normal;
                font-weight: $fw-700;
                font-size: $font-small;
                padding-bottom: 6px;
            }
        }

        .pagination_box::ng-deep {
            .mat-button-toggle-group {
                .mat-button-toggle-label-content {
                    padding: 0px 0px !important;
                }
            }
        }
    }
}
